$qui-go-colors: (
  "white": (
    default: hsla(255, 100%, 100%, 0),
    antique: #eff0eb,
    whiteDefault: #ffffff,
    fadeWhite: #ccc
  ),
  "qui-go-blue-invert": (
    default: #b9791c
  ),

  "qui-go-blue": (
    default: #4686e3,
    deep: #0f056b,
    twitter: #1dcaff,
    alice-blue: #f6f7f8,
    mariner: #3b5998,
    transparent_blue: hsla(217, 86%, 53%, .719),
    deep-blue: #0e1046,
    navbar-background: #0e1046
  ),
  "black": (
    default: #000,
    custom-black: rgba(0, 0, 0, .2),
    gray-black: rgba(100, 100, 100, .2),
    ligth-gray-black: rgba(100, 100, 100, .3),
    fade-black: rgba(0, 180, 255, .75),
    fade-soft-black: rgba(0, 180, 255, .15),
  ),
  "gray": (
    default: #ccc
  ),
  "green": (
    default: #008000,
    turtle: #45a049,
    custom: #7cfc00
  ),
  "red": (
    default: #ff0000,
    Harley-davidson-orange: #e11e14
  )
);

@function get-color($color-name, $color-variant: "default") {
  @if not map-has-key($qui-go-colors, $color-name) {
    @warn "Color `#{$color-name}` not defined. Returns `black` instead.";
    $color-name: "black";
  }

  @return map-get(map-get($qui-go-colors, $color-name), $color-variant);
}

@mixin use-color($color-name, $color-variant: "default") {
  color: get-color($color-name, $color-variant);
}

@mixin background($color-name, $color-variant: "default") {
  background-color: get-color($color-name, $color-variant);
}
